@import url('https://fonts.googleapis.com/css?family=Montserrat:300');
@import url('main.css');
@import url('register.css');
@import url('welcome.css');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@media only screen and (max-width: 1220px) {
	#header .search{
		margin-left: 5%;
		margin-right: 5%;
	}
  }
@media only screen and (max-width: 1055px) {
	#header .signin{
		display: block;
		position: static;
	}
  }
@media only screen and (max-width: 866px) {
	#header .search{
		margin-left: 1%;
		margin-right: 1%;
	}

}
@media only screen and (max-width: 796px) {
	#header .search input{
		width: 100%;
	}

	#header .search{
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}

	#header .search button{
		display: block;
	}
  }
/* @media only screen and (max-width: 696px) {
	#header .search input{
		width: 250px;
	}
  } */
/* querys for login and register */
@media only screen and (max-width: 561px) {
	
	.formBox input {
		width: 100%;
		height: 30px;
		position: relative;
		left: 0px;
	}

	.formBox button {
		width: 100%;
	}
	.formBox .input1 {
		position: relative;
		left: 0px;
	}
	.formBox .input3 {
		position: relative;
		left: 0px;
	}
	.formBox label.error{
		position: relative;
		left: 50px;
	}
  }